.container{
    display:flex;
    flex-direction: column;
    height: 300px;
    width: 180px;
    background-color:lightslategrey;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;

}

.display{
    height: 32px;
    width: 168px;
    background-color:powderblue;
    text-align: end;
    padding: 4px;
}

.display-container{
    border: 2px solid black;
}

button{
    font-size: 20px;
    background-color: rgb(225, 255, 255);
}

.digit{
    height: 40px;
    width: 40px;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    margin-top: 10px;
}

.button-row{
    display: flex;
    justify-content: space-between;
}

.clear,
.delete {
    width: 85px;
}
.clear{
    background-color: rgb(253, 193, 243);
}